 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("../images/D30A8452.jpg");
  background-position: 55.8% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  width: 393px;
  margin: 200px auto 0;
}

.u-section-1 .u-text-2 {
  width: 659px;
  line-height: 1.2;
  font-size: 1.5rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-3 {
  width: 659px;
  font-size: 1.5rem;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  width: 659px;
  font-size: 1.5rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-5 {
  width: 659px;
  font-size: 1.5rem;
  margin: 60px auto 0;
}

.u-section-1 .u-form-1 {
  height: 52px;
  width: 495px;
  margin: 10px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-1 .u-input-1 {
  height: 30px;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  background-image: none;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  text-transform: uppercase;
  padding: 2px 30px 3px 29px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 80px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-4 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 82.46% 50%;
  }

  .u-section-1 .u-text-2 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 31px;
    margin-right: 31px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 80.87% 50%;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 76.27% 50%;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 30px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
    font-size: 1.25rem;
    margin-top: 30px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
    font-size: 1.25rem;
    margin-top: 30px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 10px;
  }
}